<?xml version="1.0"?>
<config>
	<fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field name="doubles_canonical" type="radio"
			   label="COM_ZNATOK_PARAMS_DOUBLES_CANONICAL"
			   default="0"
			   class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="doubles_canonical_allowed" type="subform"
			   label="COM_ZNATOK_PARAMS_DOUBLES_CANONICAL_ALLOWED"
			   multiple="true"
			   buttons="add,remove"
			   layout="joomla.form.field.subform.repeatable-table"
			   showon="doubles_canonical:1">
			<form>
				<field name="key" label="COM_ZNATOK_PARAMS_KEY" required="true"/>
			</form>
		</field>
		<field name="doubles_redirect" type="radio"
			   label="COM_ZNATOK_PARAMS_DOUBLES_REDIRECT"
			   default="0"
			   class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="doubles_redirect_allowed" type="subform"
			   label="COM_ZNATOK_PARAMS_DOUBLES_REDIRECT_ALLOWED"
			   multiple="true"
			   buttons="add,remove"
			   layout="joomla.form.field.subform.repeatable-table"
			   showon="doubles_redirect:1">
			<form>
				<field name="key" label="COM_ZNATOK_PARAMS_KEY" required="true"/>
			</form>
		</field>
		<field name="pagination_title" type="radio"
			   label="COM_ZNATOK_PARAMS_PAGINATION_TITLE"
			   default="0"
			   class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="pagination_description" type="radio"
			   label="COM_ZNATOK_PARAMS_PAGINATION_DESCRIPTION"
			   default="0"
			   class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_znatok"
			   section="component"/>
	</fieldset>
</config>
